/* CSS Document */

/*

Colors:

#025CAA - Deep Sky Blue
#74B8E8 - Sky Blue
#159CAF - Dark Reef Aqua
#0ABFBF - Shallow Reef Aqua
#E0CDAF - Wet San Beige
#666 - Devil Grey
#777 - Lucky Grey
#555 - Spam Grey
#5B735B - Moss Devil Grey
#495C49 - Moss Spam Grey


Fonts:

font-family: 'Akronim', cursive; - display
font-family: 'Alegreya', serif; - header
font-family: 'Arima', cursive; - writing

*/

@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&family=Arima:wght@200;400;700&display=swap');

*, *:active {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color:#E0CDAF;
}

header {
    height: 15%
}

header h1 {
    font-family: 'Akronim', cursive;
    text-align: center;
    margin: 2em 9em;
    font-size: 4em;
    border: dotted #666;
    background:linear-gradient(#555, #495C49);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h1:nth-child(even) {
    background-image: linear-gradient(#666, #5B735B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Alegreya', serif;
}

blockquote {
    font-family: 'Alegreya', serif;
    padding: .5em 1em;
    font-size: 2em;
}

img {
    padding: 0.5em 2em;
    width: 400px;
    height: 300px;
    float: left;
    border: solid #666;
    border-radius: 5px;
}

table {

}

nav {
    margin: 0 auto;
    height: 5%;
}

#headNav {
    background-image: linear-gradient(#E0CDAF, #0abfbf55);
}

nav ul {
    text-align: center;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0 3.5em;
    font-size: 2em;
    font-family: 'Alegreya', serif;
}

nav a:link {
    text-decoration: none;
    border: solid #222;
    border-radius: 3px;
    background-color: #333;
    color:white;
}

nav a:hover {
    text-decoration: none;
    background-color: #888;
    color: black;
    border: solid #666;
    border-radius: 3px;
}

nav a:active {
    text-decoration: none;
    background-color: #888;
    color: black;
    border: solid #666;
    border-radius: 3px;
}

nav a:visited {
    text-decoration: none;
    background-color: #666;
    color: black;
    border: #444;
    border-radius: 3px;
}

main {
    background-image: linear-gradient(#0abfbf55, #159CAFcc);
    height: 70%;
}

p {
    font-size: 2em;
    font-family: 'Arima', cursive;
}

footer {
    background-image: linear-gradient(#025CAAaa, #025caadd);
    height: 10%;
}

#footNav {
    margin: 0 auto;
    background-image: linear-gradient(#159CAFcc, #025CAAaa);
}

#footNav a:link {
    text-decoration: none;
}

#footNav a:hover {
    
}

#footNav a:active {
    
}

#footNav a:visited {
    
}

footer p{
    text-align: center;
    font-size: 1em;
}