/* CSS Document */

/*

Colors:

#025CAA - Deep Sky Blue
#74B8E8 - Sky Blue
#159CAF - Dark Reef Aqua
#0ABFBF - Shallow Reef Aqua
#E0CDAF - Wet San Beige


Fonts:

font-family: 'Akronim', cursive; - display
font-family: 'Alegreya', serif; - header
font-family: 'Arima', cursive; - writing

*/

@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&family=Arima:wght@200;400;700&display=swap');

*, *:active {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color:#E0CDAF;
}

header {
    height: 20%
}

header h1 {
    font-family: 'Akronim', cursive;
    text-align: center;
    margin: 1em 0;
    font-size: 3em;
}

h2 {
    font-family: 'Alegreya', serif;
}

blockquote {
    font-family: 'Alegreya', serif;
    padding: .5em 1em;
    font-size: 2em;
}

img {
    padding: 0.5em 2em;
    width: 400px;
    height: 300px;
    float: left;
}

table {

}

nav {
    margin: 0 auto;
    height: 5%;
}

#headNav {
    background-image: linear-gradient(#E0CDAF, #0abfbf55);
}

nav ul {
    text-align: center;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0 2em;
    font-size: 2em;
    font-family: 'Alegreya', serif;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    
}

nav a:active {
    
}

nav a:visited {
    
}

main {
    background-image: linear-gradient(#0abfbf55, #159CAFcc);
    height: 70%;
}

p {

}

footer {
    background-image: linear-gradient(#025CAAaa, #025caadd);
    height: 10%;
}

#footNav {
    margin: 0 auto;
    background-image: linear-gradient(#159CAFcc, #025CAAaa);
}

#footNav a:link {
    text-decoration: none;
}

#footNav a:hover {
    
}

#footNav a:active {
    
}

#footNav a:visited {
    
}

footer p{
    text-align: center;
}